body {
    font-family:'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    ;
}

#wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    background-color: white;
    margin: auto;
    position: relative;
    
}

#rowbox{ 
    display: flex;
    flex-direction: row;
    min-height: 1000px;
}



#header{ 
    color: white;
    background-image: url("./background.jpg") ;
    
    ;
    text-align: center;
    border: #000022 solid;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 6rem;
    margin-left: ;
    
    min-height: 700px;
    flex-basis: 200px;
    flex:1 1 0;
    position:relative;
    isolation: isolate;
}

#Statements{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    


}






/*Opacity of background image*/

#header::after{
    content: '';
    position: absolute ;
    background: #000022;
    inset: 0;
    z-index: -1;
    opacity: 0.5;}
    
    #section2::after{
        content: '';
        position: absolute ;
        background: #000022;
        inset: 0;
        z-index: -1;
        opacity: 0.5;}

    

#h1{ 
    font-size: 40px;
    text-align: right;
    
    

}

.p{ 
    font-size: 20px;
    
}

#Menu{ 

    color: white;
    background-color: #797979;
    padding: 3rem;
    border-right: #000022 solid  3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 4rem;
    width: 200px;
    z-index: 1;
    
    
    
    }
#nav{
    position: sticky;
    top:0px ;
    bottom: 0px;
}

#mP{
    font-size: 20px;
}

#menuH2{ 
    font-size: 30px;
}

#sections{ 
    display: flex;
    flex-direction: row-reverse;
    align-content: center;
    

}

a{ 
    color: white;
}

#section1{ 
    background-color: #bcd0bcc7;
    border: #bcd 1px solid;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
    z-index: 1;
    width: 1200px;
    }



    #AboutMe{
        text-align: right;
        line-height: 30px;
       font-size: 25px;

    }

    .p{ font-size: 20px;
        
        
    
    }

#image{
    border-radius:100%;
    padding: 0.2rem;
    margin-top: -5%%;
    height: 300px;
    width: 300px;
    border: white 1px solid;
    }

   

    

    .icons{
        height: 30px;
        width: 30px;
       padding-right: 4rem;
       padding-bottom: 1rem;
       
       
        
       
    }

    .contact{
        display: flex;
        flex-direction: row;
        align-items: end;
    }


footer{
    display: flex;
    flex-direction: row;
    background-color: #000022;
    color: white;
    width: 100%;
    z-index: -1;
}
   
#footerS{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 100px;
    
    
}



    /*form*/
    .formswrapper{
    margin-top: -30px;
    
    width: 500px;
    height: 400px; ;
    background-color: #000022;
    color: aliceblue;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    
    

}


.Form{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: flex-end;
    align-items: flex-start;
    margin: 30px;
    padding-top:20px;
    font-size: 15px;
    
}

label{
    width: 230px;
    height: 20px;
    font-size: 15px;
}

input{
    width: 230px;
    height: 20px;
}

button{
    background-color: black;
    width: 70px;
    height: 30px;
    color: antiquewhite;
    font-weight: bold;
    font-size: 10px;
    margin-top: -20px;
}

::placeholder{
    color: blue;
    font-weight: bold;
    font-size:10px ;
}

textarea{
    width: 230px;
    height: 45px;
    margin-bottom: 5px;
}
